* {
  box-sizing: border-box;
  overflow: hidden; }

::selection {
  background-color: #22ffa5; }

body {
  margin: 0;
  padding: 0;
  background: #000;
  overflow-x: hidden;
  overflow-y: hidden; }

#top-image {
  background: url("../m1.png") no-repeat;
  background-position: 100px 100px;
  background-color: #000;
  position: absolute;
  right: -10px;
  top: -180px;
  z-index: -10;
  width: 70%;
  height: 120%;
  background-size: calc(120% + 50px);
  transition: all 0.7s ease; }

#about-me {
  color: #eee;
  position: absolute;
  font-family: Gotham;
  top: 10px;
  right: 30px;
  font-size: 12px;
  cursor: pointer; }

#about-col {
  background: #fff !important;
  position: absolute;
  width: 100%;
  height: 40vh;
  z-index: 101; }

.fa-times {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer; }

.darken {
  opacity: 0.4;
  transition: all 0.7s ease;
  transition-delay: 0.2s; }

#code {
  color: #20B155;
  display: inline-block;
  position: relative;
  top: 100px;
  left: 200px;
  padding: 10px;
  font-family: sans-serif;
  cursor: pointer;
  z-index: 1;
  transition: all 0.7s ease; }

#code:before, #code:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 3px;
  top: 50%;
  margin-top: -0.5px;
  background: #20B155; }

#code:before {
  left: -5.5px; }

#code:after {
  right: 5.5px;
  background: #20B155;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1); }

#code:hover:before {
  background: #20B155;
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1); }

#code:hover:after {
  background: transparent;
  width: 100%;
  transition: 0s; }

video {
  width: 300px;
  height: 400px;
  position: relative;
  top: 0px;
  left: 200px;
  transition: all 0.7s ease;
  padding-top: 0;
  z-index: 100; }

video:hover {
  transform: scale(1.2, 1.2, 1.2); }

#design {
  color: #E92E1C;
  display: inline-block;
  position: relative;
  top: 0px;
  left: 200px;
  transform: rotateY(180deg);
  padding: 10px;
  font-family: sans-serif;
  cursor: pointer;
  transition: all 0.7s ease;
  z-index: 2; }

#loader {
  position: absolute;
  display: none;
  height: 100vh;
  width: 100vw;
  background-color: #000;
  color: #cfcfd5;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 600;
  font-family: "Lato", sans-serif; }

.img-container {
  position: relative;
  width: 40%;
  height: 100px;
  left: 180px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.7s ease;
  overflow: visible; }

.mg {
  transition: all 0.7s ease; }

.img-g-1 {
  background: url("g1.svg") center center no-repeat;
  flex: 1;
  background-size: contain;
  transform: scale(2.5); }

.img-g-2 {
  background: url("g2.svg") center center no-repeat;
  flex: 1;
  background-size: contain;
  transform: scale(3); }

.img-g-3 {
  background: url("g3.svg") center center no-repeat;
  flex: 1;
  background-size: contain;
  transform: scale(3.2); }

.img-g-4 {
  background: url("g4.svg") center center no-repeat;
  flex: 1;
  background-size: contain;
  transform: scale(2.8); }

.img-g-5 {
  background: url("g5.svg") center center no-repeat;
  flex: 1;
  background-size: contain;
  transform: scale(2.8); }

.img-g-6 {
  background: url("g6.svg") center center no-repeat;
  flex: 1;
  background-size: contain;
  transform: scale(3); }

#fake {
  visibility: hidden; }

#design:before, #design:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 3px;
  top: 50%;
  margin-top: -0.5px;
  background: #E92E1C; }

#design:before {
  left: -5.5px; }

#design:after {
  right: 5.5px;
  background: #E92E1C;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1); }

#design:hover:before {
  background: #E92E1C;
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1); }

#design:hover:after {
  background: transparent;
  width: 100%;
  transition: 0s; }

#work-together {
  color: #fff;
  position: absolute;
  bottom: 20px;
  left: 30px;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 12px;
  transition: all 0.2s ease-out;
  cursor: pointer;
  transition: all 0.7s ease; }

.blur-text {
  -webkit-filter: blur(2px);
  filter: blur(2px);
  transition: all 0.3s ease-in; }

.animated {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-direction: normal; }

.shake {
  animation-delay: 2s; }

#particles-js {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 80%;
  height: 100%; }

#self-name {
  color: #EBE1E0;
  opacity: 0.55;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 20px;
  position: absolute;
  right: 0;
  top: 50%;
  right: 30%;
  transition: all 0.7s ease; }

#about-col h1 {
  position: relative;
  left: 20px;
  font-family: sans-serif;
  color: #4e4e4e; }

#about-col p {
  font-family: "Roboto", sans-serif;
  color: #757575;
  padding: 20px;
  padding-bottom: 10px;
  letter-spacing: 0.7px; }

#line-1, #line-2 {
  color: rgba(21, 187, 151, 0.68); }

#arrow {
  position: absolute;
  bottom: 60px;
  left: 60px;
  transform: scale(0.8);
  transform: rotate(-10deg);
  transition: all 0.7s ease; }

#nd {
  background-color: #fffeaf; }

.work-section {
  background: #fff;
  position: absolute;
  left: -100vw;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 102;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  flex-direction: column; }

#work-caption {
  color: #717171;
  position: relative;
  top: 200px; }

.fa-angle-left {
  position: absolute;
  top: 30px;
  right: 50px;
  font-weight: bold;
  transform: scale(2);
  cursor: pointer;
  z-index: 300; }

#email-address {
  position: relative; }

#more {
  font-style: italic;
  position: relative;
  left: 10px;
  color: rgba(234, 230, 217, 0.8);
  font-family: sans-serif;
  font-size: 10px;
  position: relative;
  z-index: 100;
  left: 10px; }

#mobile-text {
  visibility: hidden;
  display: none;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  transform: translateY(-50%); }

#web {
  position: relative;
  width: 100px;
  height: 80px;
  display: none;
  visibility: hidden;
  z-index: 1; }

#warning {
  display: none;
  visibility: hidden;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 50%; }

@media only screen and (max-width: 600px) {
  #code, #design, video, #self-name, .img-container, #arrow {
    display: none;
    visibility: hidden; }

  .blur-text {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    transition: all 0.3s ease-in; }

  #loader-text {
    font-size: 12px; }

  #top-image {
    background-position: 0px 0px;
    position: absolute;
    top: 0;
    left: -25vh;
    width: 100%;
    height: 100%;
    background-size: calc(180% + 50px); }

  #warning {
    display: block;
    visibility: visible;
    font-family: sans-serif;
    font-size: 18px; }

  #about-col {
    height: 60vh; } }
